@import "../../scss/mixins";

.left {
    position: fixed;
    bottom: 0;
    left: 30px;
    right: auto;
    animation: fadeIn 1s forwards;
    transition: all 1s;

    @include respond(phone) {
        display: none;;
    }

    @include respond(tab-port) {
        display: none;
            left:20px;
    }
    @include respond(tab-land) {
        
            left:20px;
            transition: all 1s;
    }

    &__social {
        list-style: none;
    }

    &__linkItems {
        padding: 1rem;
        cursor: pointer;

        &:hover .left__icon {
            // fill: #0a192f;
            transform: translateY(-5px);
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: #0a192f;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        cursor: pointer;
    }

    &__line {
        content: "";
        display: block;
        width: 2px;
        height: 9rem;
        margin: 0px auto;
        background-color: #0a192f;
        margin-top: 1.3rem;
    }
}